.body-section{
    display: flex;
    align-content:center ;
    text-align: justify;


}


.section-items{
display: block;
margin-Top:218px;
margin-Left:120px;
}
.im{
    width: 600px;
    height: 674px;
}
.section2{
    padding-top: 266px;
    padding-left: 64px;
    color:#222222;
    text-align: left;
    display: block;
}
.title{
font-family: 'Merriweather';
font-size: 40px;
font-weight: 700;
line-height: 50px;

font-style: normal;
}
.title-sec{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
height: 22px;
width: 110px;
border-radius:0px;


}
.grp-btn{
display: block;
justify-content: center;
text-align: justify;
padding-top: 16px;
border-style: none;





}
.btn-gmail{
    
    width: 150px;
    height: 52px;
    border-radius: 8px;
   border-width: 1px;
   border: 1px solid #E1E1E1;
   background: #FFFFFF;
   margin-right: 16px;



}
.btn-facebook{
 
  justify-content: center;
    width: 150px;
    height: 52px;
    border-radius: 8px;
   border-width: 1px;
   border: 1px solid #E1E1E1;
   background: #FFFFFF;
}
.mail{
width: 26px;
height: 26px;
margin-left: 37px;



}

.gg{
   
    margin-right: 37px;
    display: block;
    text-align: justify;
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: left;



}


.iconfcb{
   
width: 96px;
height: 22px;
margin-left: 27px;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
}




.avc{
    width: 224px;
    height: 22px;
    left: 784px;
    top: 468px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 16px;

}
.input{
height: 52px;
margin-bottom: 20px;
margin-top: 20px;
width: 416px;
align-content: space-evenly;
background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;


}
.pass{
height: 52px;
width: 416px;
align-content: space-evenly;
background: #FFFFFF;
border: 1px solid #E1E1E1;
border-radius: 8px;
margin-top:20px

}
.obli{
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0px;
text-align: right;
color: #2680C2;
font-style: normal;
width:143px;
height: 22px;
margin-left:260px;
margin-top:8px;


}
.forgotpass{
    text-decoration: none;
}
.check{
height: 20px;
width: 19.990034103393555px;
left: 2px;
top: 2px;
border-radius: 0px;
background: #E9B949;

accent-color:#E9B949;
}
.souvenir{
height: 22px;
width: 153px;
color: #222222;
border-radius: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
margin-left:14px;



}
.connexin{
 width: 416px;
height: 56px;
border: none;
margin-top:25px;

background: #E9B949;
border-radius: 8px;
}
.welcom{
width: 92px;
height: 28px;
text-align: center;
color:#222222;
text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
}
.sign{
width: 288px;
height: 22px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color:#222222;
margin-top:32px;
}
.signup{
    text-decoration: none;
    color: #E9B949;
}
